<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="2.0.262" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NJsonSchema" version="9.10.50" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration" version="9.10.50" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration.CSharp" version="9.10.50" targetFramework="net461" />
  <package id="NSwag.CodeGeneration" version="11.17.12" targetFramework="net461" />
  <package id="NSwag.CodeGeneration.CSharp" version="11.17.12" targetFramework="net461" />
  <package id="NSwag.Core" version="11.17.12" targetFramework="net461" />
  <package id="YamlDotNet" version="4.3.1" targetFramework="net461" />
</packages>